<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tellly</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>

    <div class="nav-bar">
        <a class="app-name" href="">Tellly</a>
        <img class="logo" src="../static/assets/logo.png" alt="Tellly Logo">
    </div>

    <div class="container">
        
        <div class="user-info">
            <div id="profile"></div>
            <h3 id="name">Sarah</h3>
        </div>
    
        <div class="submittion">
            <textarea class="inp-text" maxlength="270" placeholder="Tell Sarah something and we will never say it was from you!"></textarea>
            <button class="submit-btn">Send</button>
        </div>

    </div>


</body>
</html>
