<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tellly</title>
    <link rel="stylesheet" href="../static/css/success.css">

</head>
<body>

    <div class="nav-bar">
        <a class="app-name" href="">Tellly</a>
        <img class="logo" src="../static/assets/logo.png" alt="Tellly Logo">
    </div>

    <div class="success-info">
        <img id="success-check" src="../static/assets/check.png" alt="">
        <h3 id="success-text">We sent your message to Sarah</h3>
    </div>
    
    <button class="cta-btn">Get your own Tellly</button>




</body>
</html>
